<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Success</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


</head>

<body>

    <div class="container">
        <div class="card">
            <!-- Success Animation (Tick Mark) -->
            <div class="success-animation">&#10004;</div>

            <!-- Success Message -->
            <div class="success-message">
                Appointment Confirmed
            </div>
	
<div class="pt-3">
	<label for="username">Patient Name : {{booking_details.customerName}}</label>
<br>
<label for="username">Booking Date : 13-february-2024</label>
    <br>
		<label for="username">Booking Time : {{booking_details.timeSlot}}    </label>
    <br>
    <label for="username">Payment ID : XXXXXXX</label>
    <br>
    <label for="username">Payment Date & Time :  12-february-2024 at 7:00 PM </label>
</div>
            <!-- Button Container -->
            <div class="button-container">
                <!-- Share Button -->
                <button class="btn btn-primary mr-2" (click)="share()" >Share</button>

                <!-- Save Button -->
                <button class="btn btn-success" (click)="captureEntirePage()">Save</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery CDN (required for Bootstrap JavaScript components) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
