.titleOfPage {
  font-size: 30px;
  font-weight: 600;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.449);
  padding-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-title {
  font-size: large;
  font-weight: 800;
}
