<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
>
<!-- Your custom styles (if any) -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mt-5">
 <h3 class="text-center pb-3">BOOK AN APPOINTMENT </h3>
 <!-- Top Card Split -->
 <div class="card">
     <div class="row no-gutters">
         <!-- Left Section with Image -->
         <div class="col-md-4">
             <img src="https://www.chillarpayments.com/Demo/Direct-Book/images/Wc2xbVeJl0d6cyfWGCxlvcsxxYogVqsJElJy5tvN.jpeg" class="card-img p-5"
                 alt="Doctor Image">
         </div>
         <!-- Right Section with Name, Designation, and Consulting Fees -->
         <div class="col-md-8 pl-5 pr-5 pt-3" *ngIf="doctor_details">
             <div class="card-body">
                 <h4 class="card-title"><b>{{doctor_details.doctor_name}}</b><br>
                     <small>{{doctor_details.qualification}}</small></h4>
                     <h6>{{doctor_details.designation}}</h6>
                 <p class="card-tex">{{doctor_details.description}}</p>
                 <div>
                     <h5 class="pt-5 ">Consulting Fees: ₹ {{doctor_details.consultation_charge}}</h5>
                 </div><!-- Add more details as needed -->
             </div>
         </div>
     </div>
 </div>
 <form (ngSubmit)="onSubmit()">
     <!-- Date Picker -->
     <div class="mt-4">
       <label for="fecha1">
         <span class="date-title">Select Date</span>
       </label>
       <div class="datepicker date input-group">
         <!-- <input type="date" class="form-control" id="fecha1" [(ngModel)]="selectedDate" required/> -->
         <input type="date" class="form-control" id="fecha1" [(ngModel)]="selectedDateString" (change)="onDateChange()" required  />
        </div>
     </div>
     <!-- Time Picker -->
     <div class="mt-4">
         <span class="time-picker">Select Time </span>
         <div class="time-list" id="timepicker">
           <!-- Loop through time slots and display each -->
           <div class="time-option "
                *ngFor="let slot of timeSlots"
                (click)="selectTimeSlot(slot)"
                [ngClass]="{'booked': slot.booking_status === 1, 'active': slot === selectedTimeSlot}">
             {{ slot.time_slot }}
           </div>
         </div>
       </div>
     <!-- Proceed Button -->
     <div class="mt-4 pb-5">
       <button type="submit" class="btn btn-primary" [disabled]="!selectedDate || !selectedTimeSlot">Proceed to Book</button>
     </div>
   </form>
</div>